body {
  padding: 0;
  margin: 0;
  min-width: 360px;
}

#site-header {
  padding-top: 18px;
}

#site-libray-info {
  padding-bottom: 24px;
}

.row.py-4.recipe-preview {
  justify-content: center;
}

.app-card {
  max-width: 270px;
}

.app-plus {
  padding: 0px;
  align-content: center;
  align-self: center;
}

.content-app-card {
  border-radius: 24%;    
  width: 100%;
}

.title {
  padding-bottom: 20px;
  width: max-content;
}

.appstore-button {
  box-sizing: border-box;
  width: 150px;
}

.font-info {
  font-size: 0.85em;
  padding-left: 50px;
}

.font-info > .col-2 {
  padding-left: 0px;
}

.font-info > .col-10 {
  padding-left: 0px;
}
