## User files
**/.DS_Store

## Deployment
dist

## Node
node_modules
/badge/node_modules

## microsite
site/**/*.ts
site/**/*.js
site/**/*.css
site/**/*.html
site/**/*.svg
site/**/*.png
site/**/*.jpg
site/**/*.jpeg
